fastapi==0.115.0
uvicorn[standard]==0.30.6

sqlalchemy==2.0.35

pydantic==2.10.6
pydantic-settings==2.7.1

python-multipart==0.0.20
python-dotenv==1.1.0

pymupdf>=1.28.0

langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-google-genai==2.1.8

chromadb>=0.6.3

sentence-transformers>=3.4.1



httpx>=0.28.1
tenacity>=9.0.0
numpy==2.3.2